.heading {
	font-family: 'Plaster', cursive;
	text-align: center;
	font-size: 36px;
	color: white;
	text-shadow:0 4px 10px rgb(0 0 0 / 80%);
}

.heading2 {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	font-size: 36px;
	color: black;
	text-shadow:0 4px 5px rgb(0 0 0 / 80%);
}

p#indexhead {
	position:relative;
	top:30px;
}

div#header{
	background: #efc5ca;
	background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
	background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
	background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 );
	width: 1000px;
	height:50px;
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	position: relative;
  	top:-8px;
  	border-radius: 10px 10px 0 0;
  	box-shadow:0 4px 10px rgb(0 0 0 / 80%);
  	margin-bottom: 0;
  	z-index: 1;
}

html {
	background-image: url('https://cdn.pixabay.com/photo/2020/11/30/18/50/christmas-tree-5791881_1280.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div#body {
	background-color: white;
	width:1000px;
	height:100vh;
  	position: relative;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	bottom: 8px;
  	border-radius: 0 0 10px 10px;
  	box-shadow:0 4px 10px rgb(0 0 0 / 80%);
}

p#indexhead {
	position: relative;
	margin-top: 0px;
	top: 50px
}

p#indexfoot {
	position: relative;
	margin-top: 0px;
	top: 200px
}


.person {
	width:150px;
	height:150px;
}

img#gp {
	position:relative;
	right:10px;
}

img#gm {
	position:relative;
	left:25px;
}

div#people {
	display:flex;
	margin-left:auto;
	margin-right:auto;	
}

div#grandchigrampchi {
	position:relative;
	top:100px;
	left:150px;
	flex:1;
}

div#family {
	position:relative;
	flex:1;
	top:100px;
	left:150px;

}

.go {
	width:250px;
	height:40px;
	position:relative;
	outline:;
	border-color:#008AFC;
	border-width:2px;
	font-family:'Plaster', cursive;
	font-size:small;
	border-radius:5px;
	color:white;
	background: #6bb9f9;
	background: -moz-linear-gradient(top,  #6bb9f9 0%, #0081ea 100%);
	background: -webkit-linear-gradient(top,  #6bb9f9 0%,#0081ea 100%);
	background: linear-gradient(to bottom,  #6bb9f9 0%,#0081ea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb9f9', endColorstr='#0081ea',GradientType=0 );
}

.go:hover {
	width:250px;
	height:40px;
	position:relative;
	outline:;
	border-color:#008AFC;
	border-width:2px;
	font-family:'Plaster', cursive;
	font-size:small;
	border-radius:5px;
	color:white;
	background: #008afc;
	background: -moz-linear-gradient(top,  #008afc 0%, #6bb9f9 100%);
	background: -webkit-linear-gradient(top,  #008afc 0%,#6bb9f9 100%);
	background: linear-gradient(to bottom,  #008afc 0%,#6bb9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008afc', endColorstr='#6bb9f9',GradientType=0 );
	cursor:pointer;
}

div#buttons {
}

button#grndprnts {
	top:130px;
	left:170px;
	border:
}

button#fami {
	top:130px;
	left:340px;
}